{% extends 'common/superuser/common.html' %}

{% block title %}
  Follow Ups
{% endblock %}

{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header d-flex justify-content-between px-5 pb-0">
            <h5>Follow Ups</h5>
          </div>
          {% if lead %}
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table text-center align-items-center mb-0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Number</th>
                      <th>Employee</th>
                      <th>Admin</th>
                      <th>Status</th>
                      <th>Course</th>
                      <th>Notes</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i, emp in lead %}
                      <tr class="lead">
                        <td>
                          <h5 class="text-md mb-0">{{ i.lead }}</h5>
                        </td>
                        <td>
                          <h6 class="text-sm mb-0">{{ i.lead.phone }}</h6>
                        </td>
                        <td>
                          <h5 class="text-md">{{ emp }}</h5>
                        </td>
                        <td>
                          <h5 class="text-md">{{ i.lead.admin.name }}</h5>
                        </td>
                        <td>{{ i.status }}</td>
                        <td class="align-middle text-center">
                          <p class="text-dark text-bolder mb-0">
                            {% if i.course %}
                              {{ i.course }}
                            {% else %}
                              -
                            {% endif %}
                          </p>
                        </td>
                        <td class="align-middle text-center">
                          <p class="text-dark mb-0">{{ i.notes }}</p>
                        </td>
                        <td class="align-middle text-center">
                          <a href="{% url 'super_status' i.lead.id %}" class="btn btn-primary">view</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          {% else %}
            <div style="height: 10em;width: 100%;display: flex;" class="justify-content-center align-items-center">
              <h4>No Follow Ups yet</h4>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% if lead.has_other_pages %}
  <ul class="pagination">
    {% if lead.has_previous %}
      <li><a href="?page={{ lead.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in lead.paginator.page_range %}
      {% if lead.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if lead.has_next %}
      <li><a href="?page={{ lead.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}
