{% extends 'common/admin/common.html' %}
{% block content %}
  <div class="card" style="margin: 3rem 2rem;">
    <div class="d-flex justify-content-between px-3 align-items-center" style="height: 7em;">
      <h3 class="card-title fw-bold text-black mb-0">Quality Leads</h3>
    </div>
    {% if duty %}
      <div class="table-responsive text-nowrap">
        <table class="table text-center table-striped">
          <thead>
            <tr>
              <th>Lead</th>
              <th>Number</th>
              <th>Representative</th>
              <th>Status</th>
              <th>Course</th>
              <th>Notes</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0 leads-list">
            {% for i in duty %}
              <tr class="lead">
                <td>
                 {{ i.name }}
                </td>
                <td>
                  <h6>{{ i.number }}</h6>
                </td>
                <td><h5>{{i.emp}}</h5></td>
                <td>{{ i.status }} : {{ i.progress }}</td>
                <td>{{ i.course }}</td>
                <td>{{ i.notes }}</td>
                <td style="height:4em">
                  <a href="{% url 'lead_status' i.id %}" class="btn btn-primary">view</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
{% if duty.has_other_pages %}
  <ul class="pagination">
    {% if duty.has_previous %}
      <li><a href="?page={{ duty.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in duty.paginator.page_range %}
      {% if duty.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if duty.has_next %}
      <li><a href="?page={{ duty.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

    {% else %}
      <div style="height: 10em;width: 100%;display: flex;" class="justify-content-center align-items-center">
        <h4>No Follow ups</h4>
      </div>
    {% endif %}
  </div>
{% endblock %}
